
.flat_button {
    padding: 5px;
    margin: 5px;
}

.flat_button:disabled {
    background: @dark-gray;
}

.table_header {
    font-weight: bold;
}

.source_view {

}

.error_label {
    background: @medium-gray-2;
    color: @dark-text-color;
}

.error_ok {
    background: @ok-background;
    border-color: @dark-gray-2;
    border-width: 1px;
}

.error_bad {
    background: @error-background;
    border-color: @dark-gray-2;
    border-width: 1px;
}