.ok_button {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;

    color: @light-gray;
}

.ok_button:disabled {
    color: @medium-gray;
}

.ok_button:hover {
    border: 0.8px solid @light-gray;
}

.bottom_button {
    border: 0.4px solid @light-gray;
    border-radius: 3px;
    min-height: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.bottom_button:hover {
    border: 0.8px solid @light-gray;
}

.settings_bottom_button {
    min-width: 134px;
    min-height: 39px;

    border: 0.4px solid @light-gray;
    border-radius: 3px;
}

.settings_bottom_button:hover {
    border: 0.8px solid @light-gray;
}

.button_common {
  background: linear-gradient(180deg,
                              @button-blue-gradient-0 0%,
                              @button-blue-gradient-1 78.32%,
                              @button-blue-gradient-2 100%
                             );
}

.button_common:disabled {
  background: @button-blue-gradient-0;
}

.button_highlighted {
    background: linear-gradient(180deg, #72A9F3 0%, #2C7EED 83.02%, #1059BC 100%);
}

.button_highlighted:disabled {
    background: #72A9F3;
}

.button_text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;

    border: 0.4px solid @dark-gray-2;
    border-radius: 3px;

    color: @text-color;
}

.button_text:disabled {
    color: @medium-gray;
}

.button_text:hover {
    border: 0.8px solid @dark-gray-2;
}

.button_save {
    background: linear-gradient(180deg, #72A9F3 0%, #2C7EED 83.02%, #1059BC 100%);

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1em;

    border: 0.4px solid @dark-gray-2;
    border-radius: 3px;

    color: @light-gray;
}

.button_cancel {
    background: linear-gradient(180deg,
                                @button-blue-gradient-0 0%,
                                @button-blue-gradient-1 78.32%,
                                @button-blue-gradient-2 100%
                               );

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1em;

    border: 0.4px solid @dark-gray-2;
    border-radius: 3px;

    color: @text-color;
}

.copy_button {
    font-size: 1.1em;
}

.section_title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 1.25em;

    color: @text-color;
}

.explanation_text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;

    color: @text-color;
}

.action_text {
    font-weight: 700;
}

spinbutton {
    min-width: 58px;
    min-height: 16px;
    min-height: 16px;
    margin-left: 5px;
    margin-right: 5px;
    color: @text-color;
    background: @top-background;
}

checkbutton check {
    min-width: 16px;
    min-height: 16px;
    margin-right: 5px;
    color: @text-color;
}

.content_box {
    background: @top-background-2;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.flowbox_container {
    margin: 10px 30px 10px 30px;
    background: @top-background;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @separator-color;
}

.flowbox_title {
    color: @soft-text-color;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.flowbox_flowbox {
    background: @top-background;
    padding: 10px;
}

.text_container {
    padding-left: 0px;
    padding-top: 18px;
    padding-bottom: 16px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;

    color: @text-color;
}

.content_main_box {
    background: @top-background-2;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 16px;
}

treeview.view
{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;

  color: @text-color;
}

treeview.view button
{
  background: linear-gradient(180deg,
                              @button-blue-gradient-0 0%,
                              @button-blue-gradient-1 78.32%,
                              @button-blue-gradient-2 100%
                             );
  color: @text-color;
}

.add_label {
    color: @qubes-blue;
    font-weight: bold;
}
