[Desktop Entry]
Type=Application
Exec=qubes-policy-editor-gui
Icon=qubes-global-config
Terminal=false
Name=Qubes Policy Editor
GenericName=Qubes Policy Editor
StartupNotify=false
Categories=Settings;X-XFCE-SettingsDialog
